<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Such landing wow!</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

</head>
<body>
<!-- Header
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header>
<div class="container"><div class="two columns">
	<div class="logo">
	<a href="#"><img src="static/images/logo.png" alt="Jottly"/></a>
	</div>
	</div>


<div class="ten columns">
	<nav>
	 <ul>
	  <li><a href="https://www.bloc.io/build-your-first-website-with-html-and-css">Sign In</a></li>
	  <li><a class="btn" href="https://www.bloc.io/build-your-first-website-with-html-and-css">Sign Up Now</a></li>
	 </ul>
	</nav>
   </div>
</div>
<div class="container"> <div class="seven columns"> <h1>Better way to write &amp; collaborate</h1>
   <p>Put down the pen and paper. Jott.ly helps you organize your <strong>life, home and office</strong>. It's a simple way to store and share ideas with your loved ones, friends and colleagues.</p>

 <div class="row">
 <div class="eight columns alpha">
   <input type="email" placeholder="Enter e-mail"></div>
   <div class="four columns omega">
    <button type="submit">Sign Up Now</button></div>
   </div>
 </div>
</div>

</header>


</body>
</html>
